// custom variables
$primary: #c29938;
$light: #fbf5e5;

// import functins & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #ffe815
);


$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';